#social-connections
  box-sizing: border-box
  *, *:before, *:after
    box-sizing: inherit
  section.tile
    position: relative
    word-wrap: break-word
    background-size: contain !important
    text-align: center
    &.blue
      background: rgb(43, 115, 145)
    &.brown
      background: rgb(143, 111, 24)
    &.red
      background: rgb(184, 27, 27)
    &.green
      background: rgb(73, 123, 14)
    .content
      a
        color: rgba(240, 240, 240, 0.8)
      color: #fff
      padding: 0.5em
      line-height: 1.5
      position: absolute
      text-align: left
    .icon
      position: absolute
      height: 2em
      color: #fff
      z-Index: 9999999
      font-size: 3em
      top: 0
      right: 0
      bottom: 0
      left: 0
      margin: auto
    .author
      text-align: left
      position: absolute
      bottom: 0
      right: 0
      left: 0
      background: rgba(0, 0, 0, 0.5)
      color: #fff
      font-size: 0.75em
      img
        float: left
        width: 48px
      div
        position: absolute
        top: 0
        bottom: 0
        left: 48px
        display: inline-block
        padding: 0.5em 0.25em
        a
          display: block
          color: rgba(255, 255, 255, 0.9)
          text-decoration: none
        .location
          color: rgba(255, 255, 255, 0.7)
          font-size: 0.9em

@media screen and (max-width: 35.49em)
  #social-connections
    section
      min-height: 100vw

@media screen and (min-width: 35.5em)
  #social-connections
    section
      height: 50vw

@media screen and (min-width: 48em)
  #social-connections
    section
      height: 16vw
      .content
        font-size: 0.75em
