#social-connections-popup-overlay {
  background: rgba(0,0,0,0.8);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-Index: 99999999999;
  display: none;
}
#social-connections {
  box-sizing: border-box;
}
#social-connections *,
#social-connections *:before,
#social-connections *:after {
  box-sizing: inherit;
}
#social-connections section.tile {
  position: relative;
  word-wrap: break-word;
  text-align: center;
}
#social-connections section.tile.blue {
  background: #2b7391;
}
#social-connections section.tile.brown {
  background: #8f6f18;
}
#social-connections section.tile.red {
  background: #b81b1b;
}
#social-connections section.tile.green {
  background: #497b0e;
}
#social-connections section.tile .content {
  color: #fff;
  padding: 0.5em;
  line-height: 1.5;
  position: absolute;
  text-align: left;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
#social-connections section.tile .content a {
  color: rgba(240,240,240,0.8);
}
#social-connections section.tile .content.image {
  cursor: pointer;
  background-size: contain !important;
}
#social-connections section.tile .icon {
  position: absolute;
  height: 2em;
  color: #fff;
  z-Index: 999;
  font-size: 3em;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
#social-connections section.tile .author {
  text-align: left;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  color: #fff;
  font-size: 0.75em;
}
#social-connections section.tile .author img {
  float: left;
  width: 48px;
}
#social-connections section.tile .author div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 48px;
  display: inline-block;
  padding: 0.5em 0.25em;
}
#social-connections section.tile .author div a {
  display: block;
  color: rgba(255,255,255,0.9);
  text-decoration: none;
}
#social-connections section.tile .author div .location {
  color: rgba(255,255,255,0.7);
  font-size: 0.9em;
}
@media screen and (max-width: 35.49em) {
  #social-connections section {
    min-height: 100vw;
  }
}
@media screen and (min-width: 35.5em) {
  #social-connections section {
    height: 50vw;
  }
}
@media screen and (min-width: 48em) {
  #social-connections section {
    height: 16vw;
  }
  #social-connections section .content {
    font-size: 0.75em;
  }
}
